<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="page-header">
      <h1>Editing Possible Answer</h1>
    </div>
  </div>
  <div class="row">
    <%= render 'form', possible_answer: @possible_answer %>
  </div>
</div>
