<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="page-header">
      <h1>New Input + Output</h1>
    </div>
  </div>
  <div class="row">
    <%= render 'form', content: @content %>
  </div>
</div>
