<div class="container" style="margin-top: 70px">
  <div class="row">

    <div class="page-header">
      <h1><%= @article.title %></h1>
    </div>
  </div>

  <div class="row">
    <%= image_tag @article.image_url if @article.image_url %>
  </div>

  <div class="row">
    <p>
    <%= link_to @article.title, @article.url, target: "_new" %>
    </p>
    <p>
      <strong>Published at: </strong> <%= @article.publish_time %>
    </p>
  </div>
</div>
