<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Data</h1>
    <p>From published articles to runway shows, this is all the data the bot knows about and can use in interacting with users.</p>

    <p><%= link_to "Articles", articles_path, class: "btn btn-sm btn-secondary", role: "button" %>
    <%= link_to "Brands", brands_path, class: "btn btn-sm btn-secondary", role: "button" %>
    <%= link_to "Shows", shows_path, class: "btn btn-sm btn-secondary", role: "button" %></p>
  </div>
</div>


