<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome! 💃</h1>
    <p>This is where you setup and monitor the British Vogue Facebook Messenger Runway bot.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Configure</h2>
      <p>Create and edit questions and other messaging text here.</p>
      <p><%= link_to "Go", questions_path, class: "btn btn-secondary", role: "button" %></p>
    </div>
    <div class="col-md-4">
      <h2>Broadcast</h2>
      <p>Got something to say to all of our Facebook users? Write a message to them.</p>
      <p><%= link_to "Go", broadcasts_path, class: "btn btn-secondary", role: "button" %></p>
    </div>
    <div class="col-md-4">
      <h2>Status</h2>
      <p>How many people have talked to the bot? What messages have we sent or received? All that info is here.</p>
      <p><%= link_to "View", sent_messages_path, class: "btn btn-secondary", role: "button" %></p>
    </div>
  </div>


