<div class="container" style="margin-top: 70px">
  <div class="row">

    <div class="page-header">
      <h1>Brands: <%= @brand.title %></h1>
    </div>
  </div>
  <div class="row">
    <p>
    <strong>Number of users following: </strong><%= @brand.users.size %>
  </p>
  </div>
</div>
